<div class="card">
  <h4 class="card-header"><%= restaurant.name %></h4>
  <div class="card-body">
    <ul>
      <li>
        <p>Address: <span><%= restaurant.address %></span></p>
        <p>Phone Number: <span><%= restaurant.phone_number %></span></p>
        <p>Category: <span><%= restaurant.category %></span></p>
      </li>
    </ul>
  </div>
</div>
